<h1>SaferNYC: A Map of Collisions Involving
Pedestrians and Cyclists in New York City</h1>

<nav id="menu" class="menu"></nav>

<nav id="about-nav" class="about-nav">
  <a href="#" id="about-project-nav">About SaferNYC</a>
  <a href="#" id="about-data-nav">About the Data</a>
</nav>

<div id="about-project" class="about">
  <%= render "about_project" %>
</div>

<div id="about-data" class="about">
  <%= render "about_data" %>
</div>

<div id="map"></div>

<div id="dates"
data-most-recent="<%= @presenter.most_recent_date %>"
data-marker-start="<%= @presenter.marker_start_date %>"
data-heatmap-start="<%= @presenter.heatmap_start_date %>">
</div>

<script>
  MAPBOX_ACCESS_TOKEN = "<%= ENV['mapbox_access_token'] %>";
  MAPBOX_MAP_ID = "<%= ENV['mapbox_map_id'] %>";
  modeDataSet = <%= @presenter.mode_data.html_safe %>;
  causeDataSet = <%= @presenter.cause_data.html_safe %>;
  heatmapDataSet = <%= @presenter.heatmap_data.html_safe %>;
</script>
